.buttonStyle1{
    --border-style: dashed;
    width:125px; 
    height: 40px;
    font-size: 22px;
    --border-radius: 10px;
}

.center{
    text-align:center;
}


.left{
    text-align:left;
}

.right{
    text-align: right;
}
