<ion-header>
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="bg">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-img src="assets/img/logo_kudayatara_title_transparent.png" style="height: 300px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/island' color="success">Main</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle2" fill="solid" routerLink="/how-to-play" color="success">Cara Bermain</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle3" fill="solid" routerLink="/profile/achievements" color="success">Prestasi</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle3" fill="solid" (click)="logout()" color="danger">Keluar</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
