<ion-header>
  <!-- <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar> -->
</ion-header>


<ion-content class="bg">
  <ion-grid>
    <ion-row class="ion-align-items-center" style="margin-bottom: 20px;">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center">
          <ion-text>
            <h1><b><u>LUPA KATA SANDI</u></b></h1>
          </ion-text> 
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="padding-left: 10%; padding-right: 10%;">
          <ion-text>
            <h3 style="margin-top: 0;"><b>Masukkan Email yang Terdaftar</b></h3>
          </ion-text>   
          <ion-input class="wrap-input" style="text-align: center; margin: 0;" type="email" [(ngModel)]="email" required></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" style="margin-top: 20px;">
      <ion-col class="ion-text-center">
        <ion-button class="buttonStyle1" [routerLink]="['/auth/login']" color="danger">Batal</ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button class="buttonStyle1" (click)="resetpassword()" color="success">Kirim Kode</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
