<ion-header class="ion-no-border">
  <ion-toolbar style="--background:#F2F2E6;">
    <ion-buttons slot="start" style="color:#000000;">
      <ion-back-button defaultHref="/main/menu"></ion-back-button>
      <ion-title style="padding: 0;">Kembali</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <ion-grid>
    <ion-row class="ion-align-items-center" style="margin-bottom: 20px;">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center">
          <ion-text>
            <h1><b><u>PILIH PULAU</u></b></h1>
          </ion-text> 
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/JAWA' color="success">Jawa</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/SUMATERA' color="danger" disabled>Sumatera</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/KALIMANTAN' color="danger" disabled>Kalimantan</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/NUSA_TENGGARA_DAN_BALI' color="danger" disabled>Nusa Tenggara Dan Bali</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/SULAWESI' color="danger" disabled>Sulawesi</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="12" class="ion-text-center">
        <div class="ion-text-center" style="margin-top: 5px; margin-bottom: 5px;">
          <ion-button class="buttonStyle1" fill="solid" routerLink='/main/play/provinces/MALUKU_DAN_PAPUA' color="danger" disabled>Maluku Dan Papua</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
